In [6]:
import pandas as pd

In [7]:
T = pd.read_excel("./content/s16.xlsx", header=0, index_col=False)
T['Время'] = pd.to_datetime(T['Время'], format='%H:%M:%S')
T = T.drop(labels='Скорость Ветра', axis=1)

In [8]:
T['День'] = T['Дата'].dt.day
T['Месяц'] = T['Дата'].dt.month
T['Час'] = T['Время'].dt.hour
T['Минуты'] = T['Время'].dt.minute

T = T.drop(labels=['Дата', 'Время'], axis=1)

In [9]:
T['Номер дня в году'] = (T['Номер дня в году'].str.
                         replace('\D+', '', regex=True).astype(int))
T['Температура воздуха'] = pd.to_numeric(T['Температура воздуха'].str.
                         replace('°C', ''), downcast='signed')
T['Видимость'] = pd.to_numeric(T['Видимость'].str.
                         replace('км', ''), downcast='signed', errors='ignore')
T.reset_index()
T.head(100)

,Внешняя освещенность,Номер дня в году,Угол солнечного сколнения,Долгота,Широта,Температура воздуха,Влажность воздуха,Видимость,День,Месяц,Час,Минуты
0,0.711,327,-9999.000000,57.475,54.541,1,0.8663,11.0,23,11,0,0
1,0.488,327,-20.824944,57.475,54.541,1,0.8795,11.0,23,11,0,30
2,0.594,327,-20.824944,57.475,54.541,1,0.8755,11.0,23,11,1,0
3,NaN,327,-20.824944,57.475,54.541,1,0.8760,11.0,23,11,1,30
4,0.620,327,-20.824944,57.475,54.541,0,0.8707,11.0,23,11,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.573,328,-21.007431,57.475,54.541,1,1.0040,11.0,24,11,23,30
96,0.751,329,-21.183694,57.475,54.541,1,0.9947,11.0,25,11,0,0
97,0.782,329,-21.183694,57.475,54.541,1,1.0056,11.0,25,11,0,30
98,0.439,329,-21.183694,57.475,54.541,1,0.9909,7.0,25,11,1,0
99,0.671,329,-21.183694,57.475,54.541,1,0.9929,7.0,25,11,1,30

In [10]:
T.to_excel('answer.xlsx', na_rep='NaN')